.navbar ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    background-color: #00ADB5;
    padding: 10px;
}
.navbar ul li {
    margin: 0 15px;
    color: white;
    font-size: 18px;
    font-family: 'Mulish', 'Nunito', sans-serif;
    cursor: pointer;
}

.navbar ul li:hover{
    color:#333;
}
.about-card::before {
    content: "";
    position: absolute;
    left: 0;
    top:50px;
    width: 2px;  /* Line thickness */
    height: 700px; /* Full height of section */
    background-color: #566d64; /* Adjust color */
    margin-left: 650px;
}
.about-card {
    position: relative;
    width: 1300px;
    height: 800px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    background: #3d4649;
}.container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start; /* Ensures vertical alignment */
    padding-right: 100px;
    padding-top: 50px; /* Moves it down */
}
.about-card h3 {
    font-size: 24px;  /* Adjust size */
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    color: #eeeff2;  /* Change text color */
    margin-bottom: 10px; /* Add spacing below */
    letter-spacing: 1px; /* Add spacing between letters */
    margin-left: 600px;
}
.horizontal-line {
    width: 150px; /* Line thickness */
    height: 5px; /* Line height */
    background-color:#67d8a9; /* Line color */
    margin-left:880px;
}
.about-card p{
    color: aliceblue;
    font-size: 20px;
    margin-left: 700px;
}