.navbar ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    background-color: #B85042;
    padding: 10px;
}
.navbar ul li{
    margin:0 15px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.navbar ul li:hover{
    color:#333;
}